services:
  url-shortener:
    build:
      context: ../
      dockerfile: Dockerfile
    ports:
      - "8080:8080"
    networks:
      - local
    command: >
      sh -c "
      goose -dir /app/migrations postgres \"$$DSN\" up &&
      /app/bin/url-shortener
      "
    depends_on:
      postgres_db:
        condition: service_healthy
    environment:
      - CONFIG_PATH=${CONFIG_PATH}
      - DSN=${DSN}
    
  postgres_db:
    image: postgres:latest
    container_name: postgres_db
    networks:
      - local
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
      - PGDATA=${PGDATA}
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d postgres"]
      interval: 5s
      timeout: 5s
      retries: 10
      start_period: 10s

networks:
  local:
    driver: bridge